@page "/EspacosLocaveis/Create"
@using Blazor_Clube.Models
@using Microsoft.AspNetCore.Components
@using System.Text.Json.Nodes

<div class="row">
    <div class="col-lg-8">
        <h1 class="mb-5">Novo Espaco Locavel</h1>

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">Nome</label>
            <div class="col-md-8">
                <input class="form-control" @bind="EspacoLocavelData.NomeEspaco" />
                <span class="text-danger">@Erros["Nome"]?[0]</span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">Tamanho do Espaço em m²</label>
            <div class="col-md-8">
                <input class="form-control" @bind="EspacoLocavelData.Tamanho" />
                <span class="text-danger">@Erros["Tamanho do Espaço"]?[0]</span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-4 col-form-label">Capacidade de Pessoas</label>
            <div class="col-md-8">
                <input class="form-control" @bind="EspacoLocavelData.CapacidadePessoas" />
                <span class="text-danger">@Erros["Capacidade de Pessoas"]?[0]</span>
            </div>
        </div>

        <div class="row mb-3">
            <label class="col-md-4 col-form-label" for="locavel">Locável</label>
            <div class="col-md-8">
                <input type="checkbox" id="locavel" class="form-check-input" @bind="EspacoLocavelData.Locavel" />
                <span class="text-danger">@Erros["Locavel"]?[0]</span>
            </div>
        </div>


        <div class="row mb-3">
            <div class="col-md-4 col-md-4 d-grid">
                <button class="btn btn-primary" @onclick="SaveEspacoLocavel">Submit</button>
            </div>
            <div class="col-md-4 d-grid">
                <a class="btn btn-outline-primary" href="/EspacosLocaveis">Cancelar</a>
            </div>
        </div>
    </div>
</div>

@inject NavigationManager navManager
@inject HttpClient Http
@code {
    public EspacoLocavelDto EspacoLocavelData { set; get; } = new();
    public JsonNode Erros { set; get; } = new JsonObject();

    protected async Task SaveEspacoLocavel()
    {
        var response = await Http.PostAsJsonAsync("https://localhost:4000/api/EspacosLocaveis", EspacoLocavelData);

        if (response.IsSuccessStatusCode)
        {
            navManager.NavigateTo("/EspacosLocaveis");
        }
        else
        {
            var strResponse = await response.Content.ReadAsStringAsync();
            Console.WriteLine("Json Response: /n" + strResponse);


            try
            {
                var jsonResponse = JsonNode.Parse(strResponse);
                Erros = jsonResponse?["erros"] ?? new JsonObject();
            }
            catch (Exception ex)
            {
                
            }
        }
    }
}
