@page "/Produtos/Delete/{id:int}"
@inject NavigationManager NavManager
@inject HttpClient Http

<h1 class="mb-3">Deletar Produto</h1>
<p>Você tem certeza que deseja deletar esse produto com o ID @Id?</p>
<button class="btn btn-danger" @onclick="DeleteProduto">Deletar</button>
<a class="btn btn-secondary" href="/Produtos">Cancelar</a>

@code {
    [Parameter]
    public int Id { set; get; }


    protected async Task DeleteProduto()
    {
        var response = await Http.DeleteAsync("https://localhost:4000/api/Produtos/" + Id);
        NavManager.NavigateTo("/Produtos");
    }
}
