@page "/Fornecedores/Delete/{id:int}"
@inject NavigationManager NavManager
@inject HttpClient Http

<h1 class="mb-3">Deletar Fornecedores</h1>
<p>Você tem certeza que deseja deletar esse fornecedor com o ID @Id?</p>
<button class="btn btn-danger" @onclick="DeleteFornecedor">Deletar</button>
<a class="btn btn-secondary" href="/fornecedores">Cancelar</a>

@code {
    [Parameter]
    public int Id { set; get; }


    protected async Task DeleteFornecedor()
    {
        var response = await Http.DeleteAsync("https://localhost:4000/api/Fornecedores/" + Id);
        NavManager.NavigateTo("/Fornecedores");
    }
}
